node_modules/
dist/
.env
*.db
*.db-shm
*.db-wal

frontend/node_modules/
frontend/dist/

backend/bin/
backend/obj/
backend/portfolio.db
backend/portfolio.db-shm
backend/portfolio.db-wal

.DS_Store
Thumbs.db
*.log
.env.dev
.env.prod
.env.pangolin-dev
